# Ignore everything
**

# But do NOT ignore dags folder and its content
!dags/
!dags/**

# Other ignores you want to keep
__pycache__/
*.pyc
logs/
raw_data_layer/
gcp/gcp-key.json
.env
.venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.egg-info/
dist/
build/
